/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); */

body{
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}


/* custom button */
.btn-danger{
  background-color: #e30b14;
  color: #fff;
}
.btn-danger:hover{
  background-color: red;
  color: #fff;
}

/* header */

header{
  background-image: url('./Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  border-bottom: 8px solid #222222;
}
.header::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to bottom,#000,transparent);
}

.header::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top,#000,transparent);
}

.container .col-md-6{
  position: relative;
  z-index: 1;
}

.container .col-md-6 video{
  position: absolute;
  top: 85px;
  left: 75px;
  z-index: -1;
}

.container .col-md-6{
  position: relative;
  z-index: 1;
}

.container .col-md-6 .tv2{
  position: absolute;
  top: 32px;
  left: 110px;
  z-index: -1;
}

header .logo{
  height: 100px;
}
header h1{
  color: #ffffff;
  font-size: 50px;
}
header h2{
  color: #fff;
  font-size: 28px;
  font-weight: 300;
}
header h3{
  color: #fff;
  font-weight: 300;
  font-size: 21px;
}
header input{
  height: 63px!important;
}
header form button{
  font-size: 28px!important;
  font-weight: 300!important;
  text-transform: uppercase!important;
}
header .header-hero{
  margin: 120px 0;
}

/* story container */
.story-container{
  border-bottom: 8px solid #222222;
  background: #000;
}
.story-container h1{
  color: #ffffff;
  font-size: 3.125rem;
}
.story-container h2{
  color: #ffffff;
  font-size: 1.625rem;
  font-weight: 300;
}

.story-container img{
  width:100%
}

/* faq */
.faq{
  padding: 50px 0;
  color:#fff;
  border-bottom: 8px solid #222222;
  background: #000;

}
.faq h1{
  font-size: 3.125rem;
  color: #fff;
}

.faq h2{
  font-weight: 300;
  font-size: 1.6rem;
}
.faq h3{
  color: #fff;
  font-weight: 300;
  font-size: 21px;
}
.faq i{
  font-size: 1.6rem;
}
.faq .card{
  background-color: #303030;
}

.faq input{
  height: 63px!important;
}
.faq button{
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}


footer{
  color: #757575;
  background: #000;
}
footer ul li{
  font-size: 13px;
  line-height: 2;
  font-weight: 300;
}
footer .copyright{
  font-size: 13px;
}
footer .dropdown button{
  background-color: #000;
}



/* responsive */


/* tablet */
@media (max-width: 768px){

}

/* mobile */
@media (max-width: 400px){
  /* custom width */
  .w-sm-100{
    width: 100%;
  }

  video{
    width: 75%;
  }

  .container img{
    width: 100%;
  }

  /* header */

  header .logo{
    height: 70px;
  }

  header h1{
    font-size: 1.75rem;
  }
  header h2{
    font-size: 1.125rem;
  }
  header form button{
    font-size: 1rem!important;
  }
  header .header-hero{
    margin: 40px 0;
  }

  /* story container */
  .story-container h1{
    font-size: 1.625rem;
  }
  .story-container h2{
    font-size: 1.125rem;
  }

  /* faq */
  .faq h1{
    font-size: 1.625rem;
  }
  .faq h2{
    font-size: 1.2rem;
  }
  .container .col-md-6{
    position: relative;
    z-index: 1;
  }
  
  .container .col-md-6 video{
    position: absolute;
    top: 58px;
    left: 60px;
    z-index: -1;
  }
  
  .container .col-md-6{
    position: relative;
    z-index: 1;
  }
  
  .container .col-md-6 .tv2{
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: -1;
  }
}